extends layout

block content
  header
    a hero
  section
    article(class='card') card
    article(class='card') card
    article(class='card') card
    article(class='card') card
    article(class='card') card
    article(class='card') card
  footer
    a footer