extends layout

block content
  div(class="content")
    header(id="scene")
      //- img(src="/images/back.png", alt="", srcset="")
      //- img(src="/images/dolphin.png", data-depth="0.6" )
      img(src="/images/man.png", data-depth="0.1")
      //- img(src="/images/birds.png", data-depth="0.4")
    section(id="article-section")
  footer
    div
      a Who is this guy?
      div
        button 
          a LET’S FIND OUT 

  