doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    <div class="wrapper">
      <input type="checkbox" id="menuToggler" class="input-toggler" value="1" autofocus="true"/>
      <label for="menuToggler" id="menuTogglerLabel" class="menu-toggler" role="button" aria-pressed="false" aria-expanded="false" aria-label="Navigation button">
        <span class="menu-toggler__line"></span>
        <span class="menu-toggler__line"></span>
        <span class="menu-toggler__line"></span>
      </label>
      <nav id="sidebar" class="sidebar" role="navigation" aria-labelledby="menuTogglerLabel" aria-hidden="true">
        <ul id="menubar" class="menu" role="menubar" aria-orientation="vertical">
          <li class="menu__item" role"none"><a class="menu__link" href="#" role="menuitem" tabindex="-1">Home</a></li>
          <li class="menu__item" role"none"><a class="menu__link" href="#" role="menuitem" tabindex="-1">Blog</a></li>
          <li class="menu__item" role"none"><a class="menu__link" href="#" role="menuitem" tabindex="-1">Portfolio</a></li>
          <li class="menu__item" role"none"><a class="menu__link" href="#" role="menuitem" tabindex="-1">About</a></li>
          <li class="menu__item" role"none"><a class="menu__link" href="#" role="menuitem" tabindex="-1">Contact</a></li>
        </ul>
      </nav>
      <main class="content">
        block content
      </main>
    </div>
    script(src="/javascripts/script.js")