extends layout

block content
  div(class="content")
    header
      a hero
    section(class="profile-section")
      div(class="profile-intro") 
        p I love to design and develop. Full name's Tuguldur but everyone calls me Tugi. I'm a front-end developer, currently living in San Francisco, California. Fluent in HTML5, CSS3, JS, Sass, ReactJS, NodeJS and Ruby.
      div(class="profile-intro") 
        p Hi, I'm Arturo Wibawa. I'm a multidisciplinary designer from Los Angeles. I build websites, infographics, and digital products. Design to me is a way of life. It's not a job but a passion that you grow with every day. I've been a self-taught designer for most of my career and has been dabbling with code and 3D software from time to time.
      div(class="text")
        p I can help.I’m currently available for freelance work.If you have a project that you want to get started, think you need my help with something or just fancy saying hey, then get in touch.
  footer
    div
      a Who is this guy?
      div
        button 
          a LET’S FIND OUT 
