extends layout

block content
  div(class="content")
    header(id="scene")
      img(src="/images/back.png", alt="", srcset="")
      img(src="/images/dolphin.png", data-depth="0.6" )
      img(src="/images/man.png", data-depth="0.1")
      img(src="/images/birds.png", data-depth="0.4")
    section(class="profile-section")
      div(class="profile-intro") 
        p Hi, I'm Tugi. Full name's Tuguldur. I love to design and develop. I'm a front-end developer, currently living in San Francisco, California. 
          | Programming to me is a way of life. It's not a job but a passion 
          | that you grow with every day.
        
      div(class="profile-intro") 
        p I can help. I’m currently available for freelance work. If you have a project that you want 
          |to get started, think you need my help with something or just fancy saying hey, then get in touch.
      div(class="text")
        
  footer
    div
      a Let's build something!
      div
        button 
          a DROP ME A LINE
