extends layout

block content
  div(class="content")
    header
      a hero
    section(id="article-section")
  footer
    div
      a Who is this guy?
      div
        button 
          a LET’S FIND OUT 
